In [13]:
# 1 (ValueError: attempt to assign sequence of size 6 to extended slice of size 5)

a = [1,2,3,4,5,6,7,8,9]

a[::2] = 10,20,30,40,50,60

a

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

In [12]:
# 2

a = [1,2,3,4,5,6,7,8,9]

a[::2] = 10,20,30,40,50

print(a)

[10, 2, 20, 4, 30, 6, 40, 8, 50]

In [11]:
# 3

a = [1,2,3,4,5]

print(a[3:0:-1])

[4, 3, 2]

In [10]:
# 4

arr = [[1,2,3,4],
       [4,5,6,7],
       [8,9,10,11],
       [12,13,14,15]]

for i in range(0,4):
    print(arr[i].pop())

4
7
11
15

In [4]:
# 5

arr = [1,2,3,4,5,6]

for i in range(1,6) :
    arr[i-1] = arr[i]

for i in range(0,6) :
    print(arr[i], end= " ")

2 3 4 5 6 6

In [1]:
# 6

f1 = ['apple','berry','cherry','papaya']
f2 = f1
f3 = f1[:]
f2[0] = 'guava'
f3[1] = 'kiwi'

sum = 0

for i in (f1,f2,f3) :
    if i[0] == 'guava' :
        sum+=1
    if i[1] == 'kiwi' :
        sum+=20

sum

22

In [7]:
# 7 (Tuple)

mytuple = 'prashant', 'ashish', 'rahul', 23, 3.15, 77, True

type(mytuple) , mytuple

(tuple, ('prashant', 'ashish', 'rahul', 23, 3.15, 77, True))

In [8]:
# 8 

mytuple = 'prashant', 'ashish', 'rahul', 23, 3.15, 77, True

print(type(mytuple) , mytuple)

mytuple[2] = 'sunil' # Error

print(mytuple)

<class 'tuple'> ('prashant', 'ashish', 'rahul', 23, 3.15, 77, True)

TypeError: 'tuple' object does not support item assignment

In [9]:
# 9

mytuple = 'prashant', 'ashish', 'rahul', 23, 3.15, 77, True

mytuple.append("") # Error

# Error -> append, copy , clear , del, remove , insert

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
# 10

mytuple = 'prashant', 'ashish', 'rahul', 23, 3.15, 77, True

l1 = list(mytuple)

l1.append("sid")

print(l1)

['prashant', 'ashish', 'rahul', 23, 3.15, 77, True, 'sid']

In [19]:
# 11

mytuple = 'prashant', 'ashish', 'rahul', 23, 3.15, 77, True

t1  = mytuple[0:1] + ("sid",) + mytuple[1:]
print(t1)

('prashant', 'sid', 'ashish', 'rahul', 23, 3.15, 77, True)

In [37]:
# 12 

n = int(input())

arr = input().split(" ")

arr1 = []

sum = 0

for i in arr :
    arr1.append(int(i))

for i in range(1, n):
    # print(arr1[i] - arr1[i-1])   
    # if the second num is greater subtract greater from smaller
    # if arr1[i-1] > arr1[i] :
    #     sum = sum + (arr1[i-1] - arr1[i])
    # else :
    #     sum = sum + (arr1[i] - arr1[i-1])

    sum += abs(arr1[i] - arr1[i-1])

print(sum)

12

In [44]:
# 13 

s = input()

count = 0 

for i in s :
    if not i.isalnum() :
        count += 1

count

4

In [45]:
# 14 (Dictionary)

mydict = {
    "name" : "luqmaan",
    "profession" : "student",
    "empid" : 1001
}

print(mydict)
print(type(mydict))

{'name': 'luqmaan', 'profession': 'student', 'empid': 1001}
<class 'dict'>

In [46]:
# 15 

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}

print(mydict)

{101: 'ashish', 102: 'ashish', '103': 'mohan', '104': 'trivan', 104: 'ashish'}

In [49]:
# 16 

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}

# how to access value using KEY
a = mydict[102]
print(a)

{101: 'ashish', 102: 'ashish', '103': 'mohan', '104': 'trivan', 104: 'ashish'}
ashish

In [50]:
# 17

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}

# replace old value by new value 

mydict[102] = "peter"

print(mydict)

{101: 'ashish', 102: 'peter', '103': 'mohan', '104': 'trivan', 104: 'ashish'}

In [60]:
# 18

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}

# only print Key
for x in mydict :
    print(x)

# only print Value
for x in mydict :
    print(mydict[x])
#OR
for x in mydict.values() :
    print(x)

# print both key and value 
for x in mydict :
    print(x, mydict[x])
#OR
for x,y in mydict.items() :
    print(x,y)

101
102
103
104
104
ashish
ashish
mohan
trivan
ashish
ashish
ashish
mohan
trivan
ashish
101 ashish
102 ashish
103 mohan
104 trivan
104 ashish
101 ashish
102 ashish
103 mohan
104 trivan
104 ashish

In [61]:
# 19

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}
# how to ADD a KEY-VALUE Pair

mydict["mobile_no"] = 7710907525

print(mydict)

{101: 'ashish', 102: 'ashish', '103': 'mohan', '104': 'trivan', 104: 'ashish', 'mobile_no': 7710907525}

In [62]:
# 20 

mydict = {
    101 : "prashant", 
    102 : "ashish",
    "103" : "mohan",
    "104" : "trivan",
    101 : "ashish",
    104 : "ashish"
}

# how to remove a key-value pair

mydict.pop(101)

'ashish'